body {
    margin: 0;
    padding: 0;
    background-image: url("coverpic.jpg" ) ;
    
}

.navbar {
    background-image: url("coverpi.jpg");
    color: #bd2d2d;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Button Styles */

.blue {
    background-color: #3daaf3;
    color: #fff;
}

.green {
    background-color: #3bda7d;
    color: #fff;
}

.warnning {
    background-color: #f08f3b;
    color: #fff;
}

.red {
    background-color: #e44331;
    color: #fff;
}

/* Hover Styles */
button:hover {
    background-color: #616161;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #15982f;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color:white;
    color: #fff;
    cursor: pointer;
    border: none;
}

body, h1, p {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 195px;
    text-align: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}